body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #edeeed;

}

.drops {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    
}

.drop {
    height: 200px;
    width: 200px;
    position: absolute;
    background: transparent;
    border-radius: 34% 66% 60% 40% / 57% 30% 70% 43% ;
    box-shadow: inset 10px 10px 10px rgba(0,0,0,0.05),
                15px 25px 10px rgba(0,0,0,0.1),
                15px 20px 20px rgba(0,0,0,0.05),
                inset -10px -10px 15px rgba(255,255,255,0.9);
}

.drop::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 25px;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50% 50% 31% 69% / 47% 35% 65% 53% ;

}

.drop::after {
    content: '';
    position: absolute;
    top: 35px;
    left: 55px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 32% 68% 60% 40% / 57% 55% 45% 43% ;

}

.drop:nth-child(2) {
    transform: scale(0.6) translate(-280px,100px) rotate(50deg);
}